{% extends "home-base.html"%}
{% block title %}All Members{% endblock %}
{% block page_content%}
<br><br>
<h1><i class="fa fa-users" aria-hidden="true">All Members</i></h1>

<div>
  <p>Name: Sarah Shaffer</p>
  <p>Major: Marketing, MIS and Operations Management</p>
  <p>Year: Junior</p>
  <br><br>
  <p>Name: Wang Peiyu</p>
  <p>Major: Management Information Systems</p>
  <p>Year: Senior</p>
  <img src="{{ url_for('static', filename='img/WangPeiyu.JPG') }}"
          alt="WangPeiyu" width="150">
  <br><br>
  <p>Name: Daniel Winick</p>
  <p>Major: Finance and Management Information Systems</p>
  <p>Year: Junior</p>
</div>
{% endblock%}
